---
import type { BlogHeroProps } from '@blackliving/types/blog';

export interface Props extends BlogHeroProps {}

const { heroImage, title } = Astro.props;
---

{
  heroImage && (
    <div class="mb-8">
      <img
        src={heroImage}
        alt={title}
        class="w-full h-64 md:h-96 object-cover rounded-lg"
      />
    </div>
  )
}