---
// Component for the brand story section
import { Image } from "astro:assets";
---

<section
  class="pt-16 pb-8 md:pt-16 md:pb-8 lg:pt-24 lg:pb-16 bg-background text-foreground"
>
  <div class="container px-4 md:px-12 mx-auto">
    <div class="grid md:grid-cols-2 gap-6 lg:gap-16 items-center">
      <div class="text-center md:text-left order-last md:order-first">
        <h2
          class="text-3xl font-bold tracking-tighter sm:text-4xl md:text-5xl mb-6"
        >
          好睡！才是好生活
        </h2>
        <p
          class="text-lg/9 text-muted-foreground text-balance tracking-wide md:text-xl/9"
        >
          從黑標王到 Black Living
          <br>
          我們起步於專營席夢思「黑標」床墊，憑藉對品質的堅持與對客戶的承諾，成為蝦皮第一賣家。如今，我們已將服務領域拓展至整個居家生活，致力於為每個家庭提供更高品質的居家環境，並全面提升生活品味。
        </p>
      </div>
      <div>
        <Image
          src="/images/about/blackliving-about-sleepwell-rev.webp"
          alt="About Black Living"
          width={800}
          height={600}
          class="rounded-lg object-cover w-full md:w-[45vw] h-auto aspect-[4/3]"
        />
      </div>
    </div>
  </div>
</section>
