---
interface TimelineItem {
  year: string;
  description: string;
  color?: string;
}

interface Props {
  items: TimelineItem[];
}

const { items } = Astro.props;
---

<div class="relative max-w-4xl mx-auto">
  <!-- Vertical connecting line -->
  <div class="absolute left-1 top-1 bottom-9 md:bottom-4 w-2 bg-primary"></div>

  <!-- Timeline items -->
  <div class="space-y-12">
    {
      items.map((item, index) => (
        <div class='relative flex items-top gap-8 group'>
          <div class='relative z-10 flex gap-4 flex-shrink-0'>
            <div
              class={`w-5 h-5 rounded-full bg-gray-50 border-2 border-gray-400 shadow-xl flex items-center justify-center`}
            >
            </div>
          </div>

          {/* Content card */}
          <div class='flex'>
            <div class='flex flex-row items-center justify-center gap-5 transition-all duration-300 group-hover:text-shadow-lg group-hover:scale-110'>
              <div class='md:text-xl text-lg font-medium text-gray-800 leading-none group-hover:scale-110 whitespace-nowrap'>{item.year}</div>
              <p class='md:text-xl text-base leading-relaxed border-l-1 border-gray-600 pl-4 text-gray-800  '>{item.description}</p>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  /* Smooth hover animations */
  .group:hover .flex-shrink-0 > div {
    animation: pulse 0.6s ease-in-out;
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
</style>
